.theme-radio {
  padding: 1rem;
  background-color: dimgray;
  color: white;
  border-radius: 1rem;
  margin-bottom: 0,5rem;
  cursor: pointer;
  &-checked {
    background-color: black;
  }
  &-alt-true {
    border: 1px solid blue;
  }
  &-alt-false {
    border: 1px solid red;
  }
}